<template name = "assignment">
	<div class = "container-fluid" id = "main">
		{{> tutorial options}}
	</div>
</template>

<template name="matched">
	<h3 align="center">You have been successfully matched with a group of players!</h3>
	<blockquote class = "instr">
	As a quick reminder, you are playing a game with {{otherPlayers}} other players consisting of {{numRounds}} rounds. Each round will comprise {{#if batchCond.messaging}} 4 {{else}} 3 {{/if}}parts:<br><br>
	<ol>
		<li>Each player will receive 100 points and decide how many of their points to contribute to the group account</li>
		<li>Each player will be able to see the contributions made by {{#if batchCond.fullInfo}}<b><i>all</i></b>{{else}} <b><i>two</i></b>* {{/if}} of the other players
		 </li>
		 {{#if batchCond.messaging}}
		<li>Each player will be able to send and receive two messages to <b><i>one</i></b> randomly selected player*</li>
		{{/if}}
		<li>Each player will see how much they earned after the group account multiplier is applied and group account is redistributed</li>
	</ol>
	</blockquote>
	<br>
	{{#unless batchCond.fullInfo}}
	<p><i>*Players will always see the contributions/earnings of the <b>same</b> two players on every round</i></p>
	{{/unless}}
	{{#if batchCond.messaging}}
	<p><i>*Players will always be communicating with the <b>same</b> player during the entire game</i></p>
	{{/if}}
	<p align = "center" style = "font-size:16px"> Click Finish below if you aready to begin. The game will start when every player is ready.</p>
</template>