<template name="assignmentInteractive">
<div class = "container-fluid">
{{> gameTreeinstr}}
{{> tutorial options}}
</div>
</template>
<template name= "assignment">
{{#if equals game.player 'Player A'}}
	<h3 align="center">You have been assigned the role of <strong>{{game.player}}</strong>. </h3>
	<blockquote>
	{{#if equals game.condition 'withMessaging'}} 
		The game will begin with Player B having the opportunity to send you a personal message. When they have done so, you will be able to read the message they sent and choose an option. You and Player B will be able to see your choice highlighted on the tree in blue.
	{{/if}}

	{{#if equals game.condition 'noMessaging'}} 
		The game will begin with you having the opportunity to choose an option. You and Player B will be able to see your choice highlighted on the tree in blue.
	{{/if}}
	</blockquote>
	<blockquote>
		Simply click on the tree corresponding to the option you would like to choose.  
	</blockquote>
{{/if}}

{{#if equals game.player 'Player B'}}
	<h3 align="center">You have been assigned the role of <strong>{{game.player}}</strong></h3>
	<blockquote>
	{{#if equals game.condition 'withMessaging'}} 
		The game will begin with you having the opportunity to send a personal message to Player A and influence their decision. There will be a chat box to the left of the game tree when the game begins. Simply type your message into that box and press Enter. Player A will then choose an option after reading your message. You will be able to see the choice they make highlighted on the tree in blue.
	{{/if}}

	{{#if equals game.condition 'noMessaging'}} 
		The game will begin with Player A choosing between the two options. You will be able to see the choice they make highlighted on the tree in blue.  
	{{/if}}
	</blockquote>
	<blockquote>
		When it is your turn to decide, simply click on the tree corresponding to the option you would like to choose.  
	</blockquote>

{{/if}}
<blockquote>
	You will earn a bonus payment for this HIT equal to 1/10th of your monetary payoff in this game (e.g. if your monetary payoff is $2, you will earn an additional $0.20).
</blockquote>
<p><i>Click below if you understand your role and are ready to begin. The game will only start when both you and the other player have pressed Ready.</i></p>
</template>