<template name="contactFooter">
	<footer class = "footer">
		<hr class = "footbanner">
			<p style = "font-size:13px; margin-bottom:0px; margin-top:-10px" align="center">Please address all questions or concerns about this HIT to:</p>
            <p style = "font-size:13px" align="center">
            <i>computational</i>
            [dot]
            <i>social</i>
            [dot]
            <i>affective</i>
            [dot]
            <i>neuroscience</i>
            [dot]
            <i>lab</i>
            [at]
            <i>dartmouth</i>
            [dot]
            <i>edu</i></p>
	</footer>
</template>