<template name="endExperiment">
	<div class="jumbotron">
        <div class="row well well-lg">
            <div class="col-md-6 col-md-offset-3">
                <h3 align="center">That you for participating!</h3>
                <br>
                <p align="center"> Your HIT has been successfully submitted and all bonsues will be automatically added to your HIT payment.</p>
                <br>
                <br>
                <br>
                <br>
                <p style = "font-size:15px" align="center"><i>Please address all questions or concerns about this HIT to: Eshin[dot]Jolly[dot]GR[at]dartmouth[dot]edu</i></p>
            </div>
        </div>
    </div>
</template>

<!-- Might want functionality that prevents registering click event handler until all exit survey info is provided -->