<template name="endSurveyDisconnect">
	<div class="jumbotron container-fluid">
        <div class="row well well-xs">
            <div class="col-md-6 col-md-offset-3">
                <h2 align="center">Thank you for participating!</h2>
                <br>
                <p align="center">It appears as though we could not reconnect you with your partner.</p>
               <br>
                <p align="center">Please rest assured that you will still be paid for accepting this HIT.</p>
                    <label style= "display:block; text-align:center" for="feedback">Please enter any feedback, including problems you encountered in the box below </label>
                    <textarea class= "form-control" id ="feedback" rows = "3" ></textarea>
                    <p align="center"> Click the button below to submit the HIT.</p>
                    <br>
                    <br>
                    <br>
				    <button type="button" class="btn btn-primary btn-lg" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" id>Submit HIT</button>	
            </div>
        </div>
    </div>
</template>
