<template name="endSurveyFailedQuiz">
	<div class="jumbotron container-fluid">
        <div class="row well well-xs">
            <div class="col-md-6 col-md-offset-3">
                <h2 align="center">You are not eligible for this HIT</h2>
                <br>
                <br>
                <p align="center">It appears that you did not pass our comprehension quiz and therefore cannot partcipate.</p>
                <p align = "center">Please return this HIT.</p>
            </div>
        </div>
    </div>
</template>
