<template name="endSurvey">
	<div class="jumbotron">
        <div class="row well well-lg">
            <div class="col-md-6 col-md-offset-3">
                <h2 align="center">Thank you for participating!</h2>
                <br>
                <p align="center"> Just click the button below to submit the HIT.</p>
                <p align="center"> Your bonus payment will be added automatically.</p>
                <br>
                <br>
                <br>
				<button type="button" class="btn btn-primary btn-lg" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" id>Submit HIT</button>	
            </div>
        </div>
    </div>
</template>
