<template name="game">
<div class= "container-fluid">
	<div class = "row" id = "gameState Label">
		<div class= "col-xs-5 col-xs-offset-4">
		{{#if Cond game.state '==' 'pChoose'}}		
			<div class="well well-sm well-text" align="center">
				<b>How many points do you want to contribute to the group account?</b>
				{{> playerContribution}}
			</div>
		{{else}} {{#if Cond game.state '==' 'pDisp'}}
			<div class="well well-sm well-text" align="center">
				<b>Two other players contributed:</b>
				{{> playerDisplay}}
			</div>
		{{else}} {{#if messageSend}}
			<div class="well well-sm well-text" align="center">
				<b>What do you want to say to another player?</b>
				{{> messageForm}}
			</div>
		{{else}} {{#if messageReceive}}
			<div class="well well-sm well-text" align="center">
				<b>The other player said:</b>
				{{> messageDisplay}}
			</div>
		{{else}} {{#if Cond game.state '==' 'gOut'}}
			<div class="well well-sm well-text" align="center">
				<b>You earned: </b>
				{{> playerEarnings}}
			</div>
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
		</div>
	<div class = "col-xs-3 col-xs-9">
		<p align = "center" id = "roundCounter">Current Round: {{game.round}}</p>
	</div>
</div>	
</template>

<!-- template for player contribution -->
<template name = "playerContribution">
		<div class = "row">
			<div class = "col-xs-4">
				<p style = "text-align:right; font-size:18px"><b>0 points </b></p>
			</div>
			<div class = "col-xs-4">        		
        		<input type="range" id="beliefRating" value="{{limit}}" min="0" max="100">
			</div>
			<div class = "col-xs-4">
				<p style = "font-size:18px"><b>100 points</b></p>
    		</div>
		</div>
		<button type="button" class="btn btn-primary btn-lg" id = "beliefSubmit" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block">Continue</button>
</template>

<!-- template for other player contributions -->
<template name = "playerDisplay">
	<div class = "col-xs-4">
		<!-- TODO -->
		<ul class = "list-inline">
			{{#each contributions}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>
</template>


<!-- template for message input -->
<template name="messageForm">
	<div class="col-xs-4" style= "{{game.messageForm}}">
		<p style = "font-size:20px"><b>Insert your message below:</b></p>
      	<div class= "bubble">
       		<p style="font-size:16px" id="message" class = 'message-form' contenteditable="true">Type a message here and press Enter to send...</p>
   		</div>
    </div>
</template>

<!-- template for message display -->
<template name="messageDisplay">
	<div class= "col-xs-4" style = "{{game.messageDisplay}}">
		<p style = "font-size:20px"><b>{{message.whoSaid}}</b> </p>
		<p style = "font-size: 16px" class = "bubble" id="message">{{message.content}}</p>
	</div>
</template>

<!-- template for player/group earnings -->
<template name = "playerEarnings">
	<div class = "col-xs-4">
	<!-- TODO -->
	</div>
</template>
