<template name="game">
<div class= "container-fluid">
	<div class = "row">
		<div class = "col-xs-8 col-xs-offset-2">
			<div class = "well well-sm well-text" align = "center">
				<b>{{game.messagePrompt}}</b>
			</div>
		</div>
		{{#if Cond game.state '==' 'pChoose'}}	
			{{> playerContribution}}
		{{else}} {{#if Cond game.state '==' 'pDisp'}}
			{{> playerDisplay}}
		{{else}} {{#if game.messaging}}
			{{> messageForm}}
		{{else}} {{#if Cond game.state '==' 'gOut'}}
			{{> playerEarnings}}
		{{else}} {{#if Cond game.state '==' 'playerRatings'}}
			{{> playerRatings}}
		{{else}} {{#if Cond game.state '==' 'finalOut'}}
			{{> finalOutcomes}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
	</div>
</div>	
</template>

<!-- template for player contribution -->
<template name = "playerContribution">
		<div class = "row" id = "contributionSliderRow">
			<div class = "col-xs-1 col-xs-offset-3">
				<p class = "contributionText">0<br>points</p>
			</div>
			<div class = "col-xs-4">
				<form oninput = "rangeOutput.value = rangeInput.value">    		
        			<input type="range" id="contributionSlider" value="{{limit}}" min="0" max="100" name = "rangeInput">
        		<br>
        			<output class = "contributionText" name = "rangeOutput" for="rangeInput"><span class = "contributionText">{{limit}}</span></output>
        		</form>
			</div>
			<div class = "col-xs-1">
				<p class = "contributionText">100<br>points</p>
    		</div>
    		<button type="button" class="btn btn-primary btn-lg" id = "contributionSubmit" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block">Submit</button>
		</div>		
</template>

<!-- template for other player contributions -->
<template name = "playerDisplay">
	<div class = "col-xs-12">
		<ul class = "neighborContributions" align = "center">
			{{#each contributions}}
				<li class = "neighborContributionsText"> <img class = "avatar" src = "{{icon}}"> contributed: {{amount}} points</li>
			{{/each}}
		</ul>
	</div>
</template>

<!-- template for messaging -->
<template name="messageForm">

		{{#if Cond game.state '==' 'pSendMess1'}}
		<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
			<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
		</div>
		<div class = "row" id = "messageRow">
		<!--User avatar and chat input -->
			<div class = "col-xs-1 col-xs-offset-1 text-center" style = "font-size:20px">
				<img class = "avatar" src = "{{messageContent.userIcon}}">
		   		(You)
	   		</div>
			<div class = "col-xs-4">
		      	<div class= "bubbleUser activeBubble" id = "userMessage">
		       		<p id="message-form" class = 'message' contenteditable="true">Type a 140 character message here...</p>
		       		<p style = "font-size:10px" id="charCount">140/140</p>
		       		<div class = "bubbleTriangleUser activeBubble"></div>
		   		</div>
		   	</div>
	   	</div>

   		{{else}}{{#if Cond game.state '==' 'pReceiveMess1'}}
		<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
			<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
		</div>
		<!-- User avatar and sent message -->
   		<div class = "row" id = "messageRow">
   			<div class = "col-xs-1 col-xs-offset-1 text-center" style = "font-size:20px">
				<img class = "avatar" src = "{{messageContent.userIcon}}">
		   		(You)
	   		</div>
	   		<div class = "col-xs-4">
	   			<div class= "bubbleUser">
	       			<p class="message">{{messageContent.usrMess1}}</p>
	       			<div class = "bubbleTriangleUser"></div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Partner avatar and received message -->
	   	<div class = "row" id= "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-6">
	   			<div class= "bubbleOther">
	       			<p class="message">{{messageContent.partnerMess1}}</p>
	       			<div class = "bubbleTriangleOther"></div>
	   			</div>
   			</div>
   			<div class = "col-xs-2" style = "font-size:20px">
   				says
   				<img class = "avatar" src = "{{messageContent.partnerIcon}}">
   			</div>
		</div>

		{{else}}{{#if Cond game.state '==' 'pSendMess2'}}
		<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
			<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
		</div>
		<!-- User avatar and sent message -->
		<div class = "row" id = "messageRow">
			<div class = "col-xs-1 col-xs-offset-1 text-center" style = "font-size:20px">
			<img class = "avatar" src = "{{messageContent.userIcon}}">
		   		(You)
	   		</div>
	   		<div class = "col-xs-4">
	   			<div class= "bubbleUser">
	       			<p class="message">{{messageContent.usrMess1}}</p>
	       			<div class = "bubbleTriangleUser"></div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Partner avatar and received message -->
	   	<div class = "row" id= "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-6">
	   			<div class= "bubbleOther">
	       			<p class="message">{{messageContent.partnerMess1}}</p>
	       			<div class = "bubbleTriangleOther"></div>
	   			</div>
   			</div>
   			<div class = "col-xs-2" style = "font-size:20px">
   				says
   				<img class = "avatar" src = "{{messageContent.partnerIcon}}">
   			</div>
		</div>
		<!-- User chat input -->
		<div class = "row" id = "messageRow">
			<div class = "col-xs-4 col-xs-offset-2">
		      	<div class= "bubbleUser activeBubble" id = "userMessage">
		       		<p id="message-form" class = 'message' contenteditable="true">Type a 140 character message here...</p>
		       		<p style = "font-size:10px" id="charCount">140/140</p>
		       		<div class = "bubbleTriangleUser activeBubble"></div>
		   		</div>
		   	</div>
	   	</div>

	   	{{else}}{{#if Cond game.state '==' 'pReceiveMess2'}}
   		<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
			<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
		</div>
		<!-- User avatar and sent message -->
		<div class = "row" id = "messageRow">
   			<div class = "col-xs-1 col-xs-offset-1 text-center" style = "font-size:20px">
				<img class = "avatar" src = "{{messageContent.userIcon}}">
		   		(You)
	   		</div>
	   		<div class = "col-xs-4">
	   			<div class= "bubbleUser">
	       			<p class="message">{{messageContent.usrMess1}}</p>
	       			<div class = "bubbleTriangleUser"></div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Partner avatar and received message -->
	   	<div class = "row" id= "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-6">
	   			<div class= "bubbleOther">
	       			<p class="message">{{messageContent.partnerMess1}}</p>
	       			<div class = "bubbleTriangleOther"></div>
	   			</div>
   			</div>
   			<div class = "col-xs-2" style = "font-size:20px">
   				says
   				<img class = "avatar" src = "{{messageContent.partnerIcon}}">
   			</div>
		</div>
		<!-- User sent message -->
		<div class = "row" id = "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-2">
	   			<div class= "bubbleUser">
	       			<p class="message">{{messageContent.usrMess2}}</p>
	       			<div class = "bubbleTriangleUser"></div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Partner received message -->
	   	<div class = "row" id= "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-6">
	   			<div class= "bubbleOther">
	       			<p class="message">{{messageContent.partnerMess2}}</p>
	       			<div class = "bubbleTriangleOther"></div>
	   			</div>
   			</div>
		</div>
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
</template>

<!-- template for player/group earnings -->
<template name = "playerEarnings">
	<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
		<p id = "messagePrompt"><span>{{game.messageSubPrompt}}</span></p>
	</div>
	<div class = "col-xs-6 col-xs-offset-3">
		<ul class = "neighborContributions" align = "center">
			{{#each earnings}}			
				<li class = "neighborContributionsText">
				<img class = "avatar" src = "{{icon}}"><span id = "{{#if isplayer}}playerLabel{{/if}}">Total earned this round: {{amount}} points</span></li>			
			{{/each}}
		</ul>
	</div>
</template>

<template name = "playerEarningsOLD">
	<div class = "col-xs-12" align = "center">
		<p class = "earnings"> Your total earnings this round: {{earnings.playerTotal}}</p>
	</div>
		<ul class = "neighborContributions" align = "center">
			{{#each earnings.othersEarnings}}
				<li class = "neighborContributionsText"> <img class = "avatar" src = "{{icon}}"> total earnings this round: {{amount}}</li>
			{{/each}}
		</ul>
</template>

<!-- template for player ratings -->
<template name = "playerRatings">
	<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
		<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
	</div>
	<div class = "col-xs-6 col-xs-offset-3">
		<form class = "form-horizontal ratings">
		{{#each players}}
		<div class = "form-group">
			<label for = "{{user}}"><img class = "avatar" src = "{{icon}}"></label>
			<input id = "{{user}}" type="range" value="{{limit}}" min="0" max="100" class = "playerRange">
		</div>
		{{/each}}
		<button type = "submit" class = "btn btn-primary btn-lg submit" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" id = "submitRatings">Submit</button>
		</form>
	</div>
</template>

<!-- template for final rankings -->
<template name = "finalOutcomes">
	<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
		<p id = "messagePrompt"><span>{{game.messageSubPrompt}}</span></p>
	</div>
	<div class = "col-xs-6 col-xs-offset-3">
		<ul class = "finalEarnings" align = "center">
			{{#each totals}}			
				<li class = "finalEarningsText"> <img class = "avatar" src = "{{icon}}"><span id = "{{#if isplayer}}playerLabel{{/if}}">earned a total of: {{total}} points</span></li>			
			{{/each}}
		</ul>
	</div>
</template>

