<template name="game">
<div class= "container-fluid">
	<div class = "row">
		{{#if Cond game.state '==' 'pChoose'}}	
		<div class = "col-xs-8 col-xs-offset-2">	
			<div class="well well-sm well-text" align="center">
				How many points do you want to contribute to the group account?
			</div>
		</div>
			{{> playerContribution}}
		{{else}} {{#if Cond game.state '==' 'pDisp'}}
		<div class = "col-xs-8 col-xs-offset-2">
			<div class="well well-sm well-text" align="center">
				Two other players contributed:
			</div>
		</div>
			{{> playerDisplay}}
		{{else}} {{#if game.messaging}}
			<div class = "col-xs-8 col-xs-offset-2">
				<div class="well well-sm well-text" align="center">
					<b>{{game.messagePrompt}}</b>
				</div>
			</div>
				{{> messageForm}}
		{{else}} {{#if Cond game.state '==' 'gOut'}}
			<div class = "col-xs-8 col-xs-offset-2">
				<div class="well well-sm well-text" align="center">
					<b>Your earnings: </b>
				</div>
			</div>
			{{> playerEarnings}}
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
	</div>
</div>	
</template>

<!-- template for player contribution -->
<template name = "playerContribution">
		<div class = "row" id = "contributionSliderRow">
			<div class = "col-xs-1 col-xs-offset-3">
				<p class = "contributionText">0<br>points</p>
			</div>
			<div class = "col-xs-4">
				<form oninput = "rangeOutput.value = rangeInput.value">    		
        			<input type="range" id="contributionSlider" value="{{limit}}" min="0" max="100" name = "rangeInput">
        		<br>
        			<output class = "contributionText" name = "rangeOutput" for="rangeInput"><span class = "contributionText">{{limit}}</span></output>
        		</form>
			</div>
			<div class = "col-xs-1">
				<p class = "contributionText">100<br>points</p>
    		</div>
    		<button type="button" class="btn btn-primary btn-lg" id = "contributionSubmit" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block">Submit</button>
		</div>		
</template>

<!-- template for other player contributions -->
<template name = "playerDisplay">
	<div class = "col-xs-12">
		<ul class = "neighborContributions" align = "center">
			{{#each contributions}}
				<li class = "neighborContributionsText"> Player {{name}}:   {{amount}} points</li>
			{{/each}}
		</ul>
	</div>
</template>


<!-- template for messaging -->
<template name="messageForm">
		{{#if Cond game.state '==' 'pSendMess1'}}
		<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
			<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
		</div>
		<div class = "row" id = "messageRow">
			<div class = "col-xs-4 col-xs-offset-2">
		      	<div class= "bubbleUser" id = "userMessage">
		       		<p id="message-form" class = 'message' contenteditable="true">Type a 140 character message here...</p>
		       		<p style = "font-size:10px" id="charCount">140/140</p>
		       		<div class = "bubbleTriangleUser"></div>
		   		</div>
		   	</div>
	   	</div>
   		{{else}}{{#if Cond game.state '==' 'pReceiveMess1'}}
		<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
			<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
		</div>
   		<div class = "row" id = "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-2">
	   		<p style = "font-size:20px"> You: </p>
	   			<div class= "bubbleUserSent">
	       			<p class="message">{{messageContent.usrMess1}}</p>
	       			<div class = "bubbleTriangleUserSent"></div>
	   			</div>
	   		</div>
	   	</div>
	   	<div class = "row" id= "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-6">
	   		<p style = "font-size:20px; text-align:right">Player {{messageContent.partnerName}}:</p>
	   			<div class= "bubbleOtherSent">
	       			<p class="message">{{messageContent.partnerMess1}}</p>
	       			<div class = "bubbleTriangleOtherSent"></div>
	   			</div>
   			</div>
		</div>
		{{else}}{{#if Cond game.state '==' 'pSendMess2'}}
		<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
			<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
		</div>
		<div class = "row" id = "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-2">
	   		<p style = "font-size:20px"> You: </p>
	   			<div class= "bubbleUserSent">
	       			<p class="message">{{messageContent.usrMess1}}</p>
	       			<div class = "bubbleTriangleUserSent"></div>
	   			</div>
	   		</div>
	   	</div>
	   	<div class = "row" id= "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-6">
	   		<p style = "font-size:20px; text-align:right">Player {{messageContent.partnerName}}:</p>
	   			<div class= "bubbleOtherSent">
	       			<p class="message">{{messageContent.partnerMess1}}</p>
	       			<div class = "bubbleTriangleOtherSent"></div>
	   			</div>
   			</div>
		</div>
		<div class = "row" id = "messageRow">
			<div class = "col-xs-4 col-xs-offset-2">
		      	<div class= "bubbleUser" id = "userMessage">
		       		<p id="message-form" class = 'message' contenteditable="true">Type a 140 character message here...</p>
		       		<p style = "font-size:10px" id="charCount">140/140</p>
		       		<div class = "bubbleTriangleUser"></div>
		   		</div>
		   	</div>
	   	</div>
	   	{{else}}{{#if Cond game.state '==' 'pReceiveMess2'}}
   		<div class="col-xs-12" style = "{{game.messageSubPromptDisplay}}">
			<p id = "messagePrompt"><b>{{game.messageSubPrompt}}</b><br><span>{{game.messageSubPrompt2}}</span></p>
		</div>
	   	<div class = "row" id = "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-2">
	   		<p style = "font-size:20px"> You: </p>
	   			<div class= "bubbleUserSent">
	       			<p class="message">{{messageContent.usrMess1}}</p>
	       			<div class = "bubbleTriangleUserSent"></div>
	   			</div>
	   		</div>
	   	</div>
	   	<div class = "row" id= "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-6">
	   		<p style = "font-size:20px; text-align:right">Player {{messageContent.partnerName}}:</p>
	   			<div class= "bubbleOtherSent">
	       			<p class="message">{{messageContent.partnerMess1}}</p>
	       			<div class = "bubbleTriangleOtherSent"></div>
	   			</div>
   			</div>
		</div>
		<div class = "row" id = "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-2">
	   			<div class= "bubbleUserSent">
	       			<p class="message">{{messageContent.usrMess2}}</p>
	       			<div class = "bubbleTriangleUserSent"></div>
	   			</div>
	   		</div>
	   	</div>
	   	<div class = "row" id= "messageRow">
	   		<div class = "col-xs-4 col-xs-offset-6">
	   			<div class= "bubbleOtherSent">
	       			<p class="message">{{messageContent.partnerMess2}}</p>
	       			<div class = "bubbleTriangleOtherSent"></div>
	   			</div>
   			</div>
		</div>
		{{/if}}
		{{/if}}
		{{/if}}
		{{/if}}
</template>

<!-- template for player/group earnings -->
<template name = "playerEarnings">
	<div class = "col-xs-12" align = "center">
		<p class = "earnings"> Points earned this round: {{earnings.round}}</p>
		<p class = "earnings"> Total earnings this round: {{earnings.total}}</p>
	</div>
</template>
