<template name="home">
    	<div class="jumbotron">
        <div class="row well well-lg">
            <div class="col-xs-12">
                <p style = "font-size:40px; margin-bottom:0px" align="center"><b>Interactive Decision-Making</b></p>
                <p style = "font-size:13px" align="center"> <i>This HIT is part of an experiment for the Computational Social Affective Neuroscience Laboratory at Dartmouth College</i></p>
                <br>
                <br>
                <p align="center">This HIT involves making decisions and interacting with other Turkers in real-time and takes about 30 minutes.</p>
                <p align = "center"> If you choose to accept please participate immediately and do not save the HIT for later</p>
            </div>
        </div>        
    </div>
</template>
