<template name="home">
    	<div class="jumbotron">
        <div class="row well well-lg">
            <div class="col-md-6 col-md-offset-3">
                <h2 align="center">Making Real-time Decisions</h2>
                <p style = "font-size:13px" align="center"> <i>This HIT is part of an experiment for the Computational Social Affective Neuroscience Laboratory at Dartmouth College</i></p>
                <br>
                <br>
                <p>This HIT involves making decisions and interacting with other Turkers in real-time, so if you choose to accept please participate immediately and do not save the HIT for later. </p>
            </div>
        </div>
    </div>
</template>
