<template name="instructionsInteractive">
<div class = "container-fluid">
{{> gameTreeinstr}}
{{> tutorial options}}
</div>
</template>

<template name="step1">
	<h3 align="center"> You have been successfully matched with another player! </h3>
	<p> For the best experience please scroll/adjust the window until you can see both the top and bottom banners of the screen.</p>
	<p> Click next to learn how to play the game </p>
</template>

<template name="step2">
	<p>In this game you will be randomly selected to play the role of either 'Player A' or 'Player B' and see a game tree like this.</p>
</template>

<template name="step3">
	<p>Player A will first decide how they would like to split $4 by selecting from two possible options. </p> 
</template>

<template name="step4">
	<p>If Player A selects the 'Left' option, they will keep $1 for themselves, give $3 to Player B and the game will end.</p>
</template>

<template name="step5">
	<p>If Player A select the 'Right' option, the money will be split evenly so that both Player A and Player B receive $2.</p>
</template>

<template name="step6">
	<p>However, Player B will have the opportunity to veto this decision.</p>
</template>

<template name="step7">
	<p>If Player B chooses to veto this decision by selecting 'Left,' Player A will receive $0 and Player B will receive $1.</p>
</template>

<template name="step8">
	<p>If Player B chooses to accept this decision by selecting 'Right,' both Player A and Player B will receive $2.</p>
</template>

<template name = "step9">
	<h4 align = "center">Please ensure you understand these instructions before proceeding</h4>
	<h4 align = "center">On the next page we will ask you a question to make sure you understand the game</h4>
</template>

<template name ="quiz">
	<h5 align="center"> Please answer the following question so we can ensure you understand the game.</h5>
	<p align = "center"><i>You must respond correctly within two tries to be eligible to participate</i></p>
	<p>If Player A chooses right and player B chooses left how much money will each player earn?</p>
	<form role = "form">
		<div class="radio" id = "incorrect">
    		<label><input type="radio" name="optradio">Player A will earn $1 and Player B will earn $3</label>
		</div>
		<div class="radio" id = "correct">
      		<label><input type="radio" name="optradio">Player A will earn $0 and Player B will earn $1</label>
		</div>
		<div class="radio" id  = "incorrect">
    		<label><input type="radio" name="optradio">Player A will earn $2 and Player B will earn $2</label>
		</div>
	</form>
	<div class = "row">
		<p align = "center" class = '{{feedback.dispClass}}'> {{feedback.text}}</p>
	</div>
</template>

<template name="assignment">
{{#if equals game.player 'Player A'}}
	<h3 align="center">You have been assigned the role of <strong>{{game.player}}</strong>. </h3>
	<blockquote>
	{{#if equals game.condition 'withMessaging'}} 
		The game will begin with Player B having the opportunity to send you a personal message. When they have done so, you will be able to read the message they sent and choose an option. You and Player B will be able to see your choice highlighted on the tree in blue.
	{{/if}}

	{{#if equals game.condition 'noMessaging'}} 
		The game will begin with you having the opportunity to choose an option. You and Player B will be able to see your choice highlighted on the tree in blue.
	{{/if}}
	</blockquote>
	<blockquote>
		Simply click on the tree corresponding to the option you would like to choose.  
	</blockquote>
{{/if}}

{{#if equals game.player 'Player B'}}
	<h3 align="center">You have been assigned the role of <strong>{{game.player}}</strong></h3>
	<blockquote>
	{{#if equals game.condition 'withMessaging'}} 
		The game will begin with you having the opportunity to send a personal message to Player A and influence their decision. There will be a chat box above the game tree when the game begins. Simply type your message into that box and press Enter. Player A will then choose an option after reading your message. You will be able to see the choice they make highlighted on the tree in blue.
	{{/if}}

	{{#if equals game.condition 'noMessaging'}} 
		The game will begin with Player A choosing between the two options. You will be able to see the choice they make highlighted on the tree in blue.  
	{{/if}}
	</blockquote>
	<blockquote>
		When it is your turn to decide, simply click on the tree corresponding to the option you would like to choose.  
	</blockquote>

{{/if}}
<blockquote>
	You will earn a bonus payment for this HIT equal to 1/10th of your monetary payoff in this game (e.g. if your monetary payoff is $2, you will earn an additional $0.20).
</blockquote>
<p><i>Click Finish if you understand the instructions and are ready to begin. Otherwise press back to cyle through the instructions again. The game will only start when both you and the other player have pressed Finish.</i></p>
</template>

<template name = "gameTreeinstr">
	<div class = "row" id="tree">
		<br><br>
		<div class = "svg-container col-xs-8 col-xs-offset-4">
			<svg preserveAspectRatio= "xMinYMin meet" viewBox = "0 0 450 345" class= "svg-content-responsive">
				<text class = "playerAleft playerAright" x = "205" y="25" text-anchor="middle" font-weight= "bold" font-size= "30">A</text>
				<g stroke= "black" stroke-width= "3" fill = "black">
					<path id = "playerAleft" d= "M205 35 L105 135"></path>
					<text class = "playerAleft" x="105" y="165" font-size="28" text-anchor="middle" stroke-width="1">A gets: $1</text>
					<text class = "playerAleft" x="105" y="195" font-size="28" text-anchor="middle" stroke-width="1">B gets: $3</text>
					<text class = "playerAleft" x="115" y="85" font-size="22" text-anchor="middle" stroke-width="1">Left</text>
				</g>
				<g stroke= "black" stroke-width= "3" fill = "black">
					<path id = "playerAright" d= "M205 35 L305 135"></path>
					<text class= "playerAright playerBleft playerBright" x="305" y="165" text-anchor="middle" font-weight= "bold" stroke-width= "1" font-size= "30">B</text>
					<text class= "playerAright" x="300" y="85" font-size="22" text-anchor="middle" stroke-width="1">Right</text>
				</g>
				<g stroke= "black" stroke-width= "3" fill = "black">
					<path id = "playerBleft" d= "M305 175 L205 275"></path>
					<text class = "playerBleft" x="205" y="305" font-size="28" text-anchor="middle" stroke-width="1">A gets: $0</text>
					<text class = "playerBleft" x="205" y="335" font-size="28" text-anchor="middle" stroke-width="1">B gets: $1</text>
					<text class = "playerBleft" x="210" y="235" font-size="22" text-anchor="middle" stroke-width="1">Left</text>
				</g>
				<g stroke= "black" stroke-width= "3" fill = "black">
					<path id = "playerBright" d= "M305 175 L405 275"></path>
					<text class = "playerBright" x="405" y="305" font-size="28" text-anchor="middle" stroke-width="1">A gets: $2</text>
					<text class = "playerBright" x="405" y="335" font-size="28" text-anchor="middle" stroke-width="1">B gets: $2</text>
					<text class = "playerBright" x="410" y="235" font-size="22" text-anchor="middle" stroke-width="1">Right</text>
				</g>
			</svg>
		</div>
	</div>		
</template>