<template name="instructionsInteractive">
{{> gameTree}}
{{> tutorial options}}
</template>

<template name="step1">
	<h3> You have been successfully matched with another player! </h3>
	<p> Click next to learn how to play the game </p>
</template>

<template name="step2">
	<p>In this game you will be randomly selected to play the role of either 'Player A' or 'Player B' and see a game tree like thise</p>
</template>

<template name="step3">
<p>Player A will first choose how they would like to split $4. </p> 
</template>

<template name="step4">
<p>One option is to keep $1 and give $3 to Player B.</p>
</template>

<template name="step5">
<p>The other option is split the money evenly so that Player A and Player B will each receive $2.</p>
</template>

<template name = "gameTreeinstr">
	<div id="tree">
		<div class = "svg-container">
			<svg preserveAspectRatio= "xMinYMin meet" viewBox = "0 0 1000 450" class= "svg-content-responsive">
				<text x = "400" y="90" text-anchor="middle" font-weight= "bold" font-size= "30">A</text>
				<g class="playerAleft" stroke= "black" stroke-width= "3" fill = "black">
					<path d= "M400, 100L300, 200"></path>
					<text x="300" y="230" font-size="28" text-anchor="middle" stroke-width="1">A gets: $1</text>
					<text x="300" y="260" font-size="28" text-anchor="middle" stroke-width="1">B gets: $3</text>
				</g>
				<g class ="playerAright" stroke= "black" stroke-width= "3" fill = "black">
					<path d= "M400, 100L500, 200"></path>
					<text x="500" y="230" text-anchor="middle" font-weight= "bold" stroke-width= "1" font-size= "30">B</text>
				</g>
				<g class="playerBleft" stroke= "black" stroke-width= "3" fill = "black">
					<path d= "M500, 240L400, 340"></path>
					<text x="400" y="370" font-size="28" text-anchor="middle" stroke-width="1">A gets: $0</text>
					<text x="400" y="400" font-size="28" text-anchor="middle" stroke-width="1">B gets: $1</text>
				</g>
				<g class="playerBright" stroke= "black" stroke-width= "3" fill = "black">
					<path d= "M500, 240L600, 340"></path>
					<text x="600" y="370" font-size="28" text-anchor="middle" stroke-width="1">A gets: $2</text>
					<text x="600" y="400" font-size="28" text-anchor="middle" stroke-width="1">B gets: $2</text>
				</g>
			</svg>
		</div>
	</div>
</template>