<template name = "instructions">
	<div class = "container-fluid" id = "main">
		{{> tutorial options}}
	</div>
</template>

<template name="accept">
	<h3 align="center"> Thank you for accepting this HIT</h3>
	<blockquote class = "instr">
		For the best experience please scroll/adjust the window until you can see both the top and bottom banners of the screen.<br><br>
		Please read the following set of instructions <i>carefully</i> to learn how to play the game.<br><br>
		You may move forward and backwards through any page of these instructions at any time.
	</blockquote>
	<br>
	<p align = "center" style = "font-size:14px"> Click next to begin the instructions </p>
</template>

<template name="overview">
	<h3 align="center">Game Overview</h3>
	<blockquote class = "instr">
	In this game you will be making a series of decisions about how to allocate points with {{otherPlayers}} other players in real-time over the course of {{numRounds}} rounds. Each player will be given their own private account and a separate group account will be shared by all players. At the end of the game we will randomly select one of the rounds and pay you a bonus based on the number of points earned in that round at the rate of: <b>1 point = 2 cents</b>.
	</blockquote>
	<blockquote class = "instr">
	In the beginning of every round of you will decide <b>how many of your own points you would like to contribute to the group account.</b> At the end of every round, the group account will be multiplied by 1.5 and points will be evenly redistributed to all players.
	</blockquote>
</template>

<template name = "rounds">
	<h3 align = "center">Structure of Each Round</h3>
	<blockquote class = "instr">
		Afer you decide how many points to contribute to the group account you will be able to see the contributions made by
		<b>{{otherPlayers}}</b> other players. These are all the other players in the game. Across every round of the game you will always see contributions from <b>all</b> the players.
	</blockquote>
	<blockquote class = "instr">
		Next, you will be able to communicate with <b>one</b> other player.
 	 	In order to communicate, you will be able to send and receive two messages (140 characters max) to this other player. Upon sending your first message you will be shown their first message sent to you. Following this you will be able to second a second message and likewise see their second message sent to you.
	</blockquote>
	<blockquote class = "instr">
		After communication ends, the group account multiplier of (1.5x) will be applied and the group account will be divided evenly. Finally the round will end and you will be shown the points you earned.
	</blockquote>
</template>

<template name = "exampleRound">
	<h3 align = "center">Example Round</h3>
	<blockquote class = "instr">
		To illustrate the game lets look at an example round:<br><br>
		<ul>
		<li>First you will be given 100 points and will choose how many of these to contribute to the group account; let's say you choose to contribute 50 points</li>
		<li>Following this you will be able to see the contributions made by all the other players; lets say you see contributions of: 100, 0, 50, 50, and 50 points</li>
		<li>Next you will be able to send and receive two messages with another player</li>
		<li>Finally you will see the results of the splitting of the group account; let's say you receive 75 points at the end of the round bringing your total earned for that round to 125 points (50 you didn't contribute + 75 you earned)</li>
		</ul>
	</blockquote>
	<blockquote class = "instr">
		Based on this round you can see that all the other players contributed a total of 250 points, bringing the the total earnings for the group to 450 points, with each player earning 75 points each: 
	</blockquote>
	<p align = "center" style= 'font-size: 14px'>
		50 (your contribution) + 100 + 0 + 50 + 50 + 50 = 300 * 1.5 (multiplier) = 
		<br>
		<b>450 (sum of group account)</b>
	</p>
	<br>
	<p align = "center" style= 'font-size: 14px'>
		450 / 6 = <br>
		<b>75 (each player's earnings for the round)</b>
	</p>
</template>

<template name = "recap">
	<h3 align="center">Recap</h3>
	<blockquote class = "instr">
	To review, you will play a game with {{otherPlayers}} other players consisting of {{numRounds}} rounds. Each round will comprise 5 parts:<br><br>
	<ol>
		<li>Each player will receive a starting balance of 100 points</li>
		<li>Each player will decide how many of their points to contribute to the group account</li>
		<li>Each player will be able to see the contributions made by<b><i> all </i></b> the other players
		 </li>
		<li>Each player will be able to send and receive two messages to <b><i>one</i></b> randomly selected player*</li>
		<li>Each player will see how much they earned after the group account multiplier is applied and redistributed</li>
	</ol>
	</blockquote>
	<br>
	<p><i>*Players will always be communicating with the <b>same</b> player during the entire game</i></p>
</template>

<template name = "timing">
	<h3 align="center">Connection and Timing Considerations</h3>
	<blockquote class = "instr">
		Because you are interacting in real time with {{otherPlayers}} other players, it is <b>extremely important</b> that you make your decisions and complete your communication within a timely manner.<br><br>
		If you idle for too long during the game you will <b>forfeit</b> any bonuses you could have earned during this HIT.<br><br>
		If your game partners have connection issues you will still be paid for completing the HIT including any bonuses earned.
	</blockquote>
</template>

<template name = "preQuiz">
	<h3 align="center">Please be sure you have understood these instructions before proceeding</h3>
	<blockquote class = "instr">
		On the next page we will ask you some questions to ensure your understanding. If you fail to answer these questions correctly you will not be eligible to play and complete this HIT.<br>
		You may move backwards and forwards through these instructions screens as much as you like before and during the quiz.
	</blockquote>
</template>