<!-- template for message displaying -->
<template name="messageDisplay">
<!--	<div class= "container-fluid">
		<div class="alert alert-info" role="alert">
			{{#if game.isPlayerA}}
				<p class="text-center"><b> Player B says: </b><em>"{{message}}"</em></p>
			{{/if}}
			{{#if game.isPlayerB}}
				<p class="text-center"><b> You said: </b><em>"{{message}}"</em></p>
			{{/if}}	
		</div>
	</div> -->
<div class= "container-fluid">
	<p class="text-center"><b> Player B says: </b></p>
	<p class= "text-info text-center" ><em>{{message}}</em></p>
</div>
</template>