<!-- uses code from http://leaddyno.github.io/bootstrap-nav-wizard.  We should be able to wrap in loop -->
<template name="progress">
	{{#if game}}
	<div>
		<ul class="nav nav-pills nav-wizard">
			<li class="{{game.instr}}"><a>Instructions</a></li>
			{{#if equals game.condition 'withMessaging'}} 
				<li class = "{{game.mess}}"><a>Player B Messaging</a></li>
			{{/if}}
			<li class = '{{game.pA}}'><a>Player A Decides</a></li>
			<li class = '{{game.pB}}'><a>Player B Decides</a></li>
			<li class = '{{game.over}}'><a>Game Over</a></li>
			<li class = '{{game.summ}}'><a>Summary</a></li>
    	</ul>
	</div>
	{{/if}}
</template> 