<!-- uses code from http://leaddyno.github.io/bootstrap-nav-wizard.  We should be able to wrap in loop -->
<template name="progress">
	{{#if game}}
		{{#if Cond game.state '!=' 'assignment'}}
			<div>
				<ul class="nav nav-pills nav-wizard">
					<li class = "{{game.pChoose}}"><a>Your Contribution</a></li>
					<li class = '{{game.pDisp}}'><a>Others' Contribution</a>
					<li class = '{{game.mess}}'><a>Messaging</a></li>
					<li class = '{{game.gOut}}'><a>Group Outcome</a></li>
		    	</ul>
			</div>
		{{/if}}
	{{/if}}
</template> 