<template name="userDisconnect">
    <div class="jumbotron">
        <div class="row well well-lg">
            <div class="col-xs-10 col-xs-offset-1">
                <h2 align = "center">The game seems to be having connection issues with one or more of the other players.</h2>
                <br>
                <h3 align = "center">The game will wait approximately {{disconnectTimeout}} minute(s) for all other players to reconnect.</h3>
                <br>
                <h3 align = "center">If all players are not reconnected within this time, we will end the HIT and you will be paid for accepting it, including 
                {{#if gameTooEarly}} a bonus of ${{disconnectPay}}. {{else}} your bonus. {{/if}} </h3>
            </div>
        </div>
    </div>
</template>
