<template name="userDisconnect">
	<div class="jumbotron container-fluid">
        <div class="row well well-xs">
            <div class="col-md-6 col-md-offset-3">
                <h2 align="center">Your partner seems to have lost their connection</h2>
                <br>
                <br>
                <p align="center">The experiment will wait approximately 1 minute to wait for them to reconnect and proceed.</p>
                <p align = "center">Otherwise you will be able to submit this HIT for full payment.</p>
            </div>
        </div>
    </div>
</template>
