<template name="userDisconnect">
    <div class="jumbotron">
        <div class = "row well-sm">
            <div class = "col-xs-4 col-xs-offset-8">
                <p align="center" id= "clock">You have been waiting for approx
                <br>
                {{clock.min}} min and {{clock.sec}} sec
                </p>
            </div>
        </div>
        <div class="row well well-lg">
            <div class="col-xs-10 col-xs-offset-1">
                <h2 align = "center">The game seems to be having connection issues with one or more of the other players.</h2>
                <br>
                <h3 align = "center">The game will wait {{disconnectTimout}} minute for all other players to reconnect.</h3>
                <br>
                <br> 
                If all players are not reconnected within this time, we will end the HIT and you will be paid for accepting it, including 
                {{#if gameTooEarly}} a bonus of ${{disconnectPay}}. {{else}} your bonus. {{/if}}
            </div>
        </div>
    </div>
</template>
