body{
    padding: 40px 0 0 0 ;
}
img {
    width: auto;
    height: 100%;
}
.navbar-brand { 
    margin-top: 0; 
    padding: 0; 
}
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: -5%;
    left: 10%;
}

.hover{
    stroke: red;
    fill: red;
    stroke-width: 6;
}

.choice{
    stroke: green;
    fill: green;
    stroke-width: 6;
}
