body{
    padding: 40px 0 0 0 ;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.hover{
    stroke: red;
    fill: red;
    stroke-width: 6;
}

.choice{
    stroke: green;
    fill: green;
    stroke-width: 6;
}

/*
.playerALeft, .playerARight{
    stroke: #000000;
    fill: #000000;
    stroke-width: 3;
}



.playerBLeft, .playerBRight{
    stroke: #000000;
    fill: #000000;
    stroke-width: 3;
}

.playerBLeft:hover, .playerBRight:hover{
    stroke: #0000FF;
    stroke-width: 6;
    fill: #0000FF;
}
*/