body{
    padding: 80px 0 0 0 ;
}
img {
    width: auto;
    height: 100%;
}

/* Player prompts during game */
.well-text{
  font-size:18px;
}

/* Comprehension Quiz styling */
.correctQuiz{
  color: #00CC00;
  font-weight: bold;
  font-size: 20px;
  visibility:visible;
}
.incorrectQuiz{
  color: #FF0000;
  font-weight: bold;
  font-size: 20px;
  visibility:visible;
}
.noresponseQuiz{
  visibility: hidden;
}

/* Chat bubble */
/* To handle long continous strings of text that extend outside a div */
#message{
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
  min-width: 10px;
  min-height: 60px;
}
blockquote{
  margin-bottom:0px;
  font-size:16px;
}
.bubble{
position: relative;
min-height: 60px;
width: 75%;
height: 100%;
padding: 10px;
background: #99FFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.bubble:after{
content: '';
position: absolute;
border-style: solid;
border-width: 0 9px 12px;
border-color: #99FFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -9px;
top: -12px;
left: 15%;
}
p.message-form:focus{
  outline: 0px solid transparent;
}

/* Footer styling */
.footer{
  position:fixed;
  width:100%;
  bottom: 0;
}
.footbanner{
  border:none;
  height:25px; 
  color:#000033; 
  border-color:#000033; 
  background-color:#000033; 
  margin-top:2px
}

/* Navbar styling */
.navbar-fixed-top {
    height: 80px;
    margin: 0;
    padding: 0;
    color: #CCFFFF;
    background-color: #000033 !important;
    border-color: transparent;
}
.navbar-header {
    height: 80px;
    width: auto;
    padding: 0;
    margin: 0;
}
.icon-bar {
    background-color: white !important;
}
.navbar-brand {
    height: 80px;
    padding: 2px;
}
.navbar-nav > li > a{
    height: 80px;
    padding: 30px 0 30px 30px;
    margin: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #CCFFFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
.navbar {min-height:40px !important;}

/* Game tree styling */
.svg-container {
    display: inline-block;
    position: relative;
    height: 50%;
    padding-bottom: 28%; /* aspect ratio */
    vertical-align: middle;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}
.hover{
    stroke: #33CCFF;
    fill: #33CCFF;
    stroke-width: 6;
}
.choice{
    stroke: #33CCFF;
    fill: #33CCFF;
    stroke-width: 6;
}

/* Progress bar styling */
ul.nav-wizard {
  background-color: #f9f9f9;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  position: relative;
  overflow: hidden;
}
ul.nav-wizard:before {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 46px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: middle;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
}
ul.nav-wizard li a {
  color: #000033;
  padding: 0;
}
ul.nav-wizard li a:hover {
  background-color: transparent;
}
ul.nav-wizard li:before {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #d4d4d4;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
}
ul.nav-wizard li:after {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #f9f9f9;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -15px;
}
ul.nav-wizard li.active {
  color: #3a87ad;
  background: #d9edf7;
}
ul.nav-wizard li.active:after {
  border-left: 16px solid #d9edf7;
}
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: #3a87ad;
  background: #d9edf7;
}
ul.nav-wizard .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #000033;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #000033;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}

/* Belief slider styling */
/* Customized and copied from here http://danielstern.ca/range.css/?ref=css-tricks#/ 
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 15.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000033;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 11px;
  border-radius: 15px;
  background: #99ffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #00004d;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000033;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 11px;
  border-radius: 15px;
  background: #99ffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #00001a;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #000033;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 11px;
  border-radius: 15px;
  background: #99ffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000033;
}
input[type=range]:focus::-ms-fill-upper {
  background: #00004d;
} */